<!DOCTYPE html>
<html lang="en">
<head>
  <base target="_blank">
  <title>Twitter RSS Feeds</title>

  <meta charset="utf-8">
  <meta name="author" content="Stefan Sundin">
  <meta name="description" content="Twitter RSS Feeds">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link rel="icon" href="/img/icon32.png">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="https://stefansundin.github.io/css/main.css">
  <link rel="alternate" href="https://github.com/stefansundin/twitter-rss/releases.atom" title="Release feed">
</head>
<body ga="<%= ENV["GOOGLE_ANALYTICS_ID"] %>">
  <header>
    <img src="/img/icon128.png" width="128" height="128" alt="Icon" itemprop="image">
    <hgroup>
      <h1 itemprop="name">Twitter RSS Feeds</h1>
    </hgroup>
  </header>

  <form class="topbar input-group" method="get" action="/go">
    <input class="form-control" type="search" name="q" placeholder="A Twitter username" pattern="[a-zA-Z0-9_]+" title="Input a Twitter username without @.">
    <span class="input-group-btn">
      <input class="btn btn-primary" type="submit" value="Get RSS Feed">
    </span>
  </form>

  <div class="container">
    <h2>About</h2>

    <p>This app lets you subscribe to Twitter user's timelines as RSS feeds.</p>

    <p>Using the form above you will be redirected to a url that uses that user's Twitter id. You can also easily subscribe to usernames by using e.g. <a href="/@infected">/@infected</a>. The benefit of using a Twitter id is that the feed will continue to work even if the user changes their username.</p>

    <p>Post ideas as issues <a href="https://github.com/stefansundin/twitter-rss">on GitHub</a>.</p>


    <h2>Credits</h2>

    <p>Made by Stefan Sundin.</p>

    <p>You can <a href="https://stefansundin.github.io/">browse my other projects</a>, or <a href="https://stefansundin.com/">visit my personal website</a>.</p>


    <h2>Donate</h2>

    <p>I provide this service free of charge. If you would like to thank me, please send me a donation.</p>

    <form method="post" action="https://www.paypal.com/cgi-bin/webscr" track="donate">
      <input type="hidden" name="cmd" value="_xclick">
      <input type="hidden" name="business" value="KYMVEK692RF5Q">
      <input type="hidden" name="item_number" value="Twitter RSS">
      <input type="hidden" name="return" value="https://stefansundin.github.io/thx">
      <input type="hidden" name="cbt" value="Learn why you just became awesome">
      <div class="input-group col-sm-5">
        <input class="form-control" type="text" name="amount" id="amount" value="$5.00" placeholder="Amount">
        <span class="input-group-btn">
          <input class="btn btn-success" type="submit" value="Donate with PayPal">
        </span>
      </div>
    </form>

    <p>Or you can send Bitcoin to: <tt>1EhDUbc5MjC6JavC6idKiTCxnqSxY2sbTX</tt> (<a href="https://stefansundin.github.io/img/btc-qr.png">QR code</a>)</p>

    <p>You can also send Square Cash to: <a>squarEStefansundinCom</a></p>


    <h2>Danger Zone</h2>

    <p>
      Remaining Twitter API ratelimit: <%= "%s / %s" % [@ratelimit[:remaining] || @ratelimit[:limit] || "unknown", @ratelimit[:limit] || "unknown"] %>.
      <%= "Resets in %d min." % ((@ratelimit[:reset]-Time.now)/60) if @ratelimit[:reset] %>
    </p>

    <p><a class="btn btn-danger" href="/flush"><span class="glyphicon glyphicon-trash"></span> Flush cache</a></p>

    <p>This button clears the redis cache. Only use in emergencies.</p>
  </div>

  <% if request.host == "twittrss.herokuapp.com" %>
  <script src="https://stefansundin.github.io/js/ga.js"></script>
  <script src="https://stefansundin.github.io/js/fubar.js"></script>
  <% end %>
</body>
</html>
